.checklist-modal {
    width: 304px;
    padding: 10px;
    position: absolute;
    top: 40%;
    left: 30%;
    z-index: 300;

    background-color: whitesmoke;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    border-radius: 3px;
    display: flex;
    flex-direction: column;

    .header {
        padding: 6px 0;
        color: #5e6c84;
        text-align: center;
        border-bottom: 1px solid #0000003d;
        margin-bottom: 7px;
    }

    .title {
        color: #172b4d;
        background-color: 'blue';
        font-size: 14px;
        line-height: 20px;
        letter-spacing: normal;
        text-align: start;
        font-size: 12px;
        font-weight: 500;
    }

    .close-btn {
        max-width: 20px;
        position: absolute;
        right: 10px;
        top: 15px;
        cursor: pointer;
    }

    .btn-add {
        margin-top: 10px;
    }

    label {
        width: 100%;

        .checklist-search-input {
            font-family: inherit;
            border: 3px solid lightblue;
            padding: 5px 5px 8px 10px;
            border-radius: 3px;
            margin-bottom: 10px;
            font-size: 14px;
            width: 100%;

            &:focus {
                outline: none;
            }
        }
    }
}

@media (max-width: $mobile-breakpoint) {
    .checklist-modal {
        @include mobile-modal-display;
    }
}

@media (min-width: $narrow-breakpoint) {
    .checklist-modal {
        left: 50%;
    }
}