.task-quick-edit {

    // .black-screen {
    // background-color: rgb(0 0 0 / 60%);
    // cursor: pointer;
    // transition: opacity .6s;
    // z-index: 50;
    // overflow-x: hidden;
    // display: flex;
    // align-items: flex-start;
    // justify-content: center;
    // height: 100%;


    // position: fixed;
    // top: 0;
    // left: 0;
    // width: 100%;
    // height: 100%;
    // background-color: rgb(0, 0, 0);
    // cursor: pointer;
    // opacity: 0.4;
    // }
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    z-index: 10;

    .task-quick-edit-container {
        display: flex;
        flex-direction: row;
        position: fixed;




        .left-col {
            // border: 2px solid red;

            min-width: 245px;



            .task-cover {
                // border: 2px solid red;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
            }
        }

        .input-side {
            display: flex;
            flex-direction: column;
            background-color: white;
            min-height: 100px;
            border-bottom-left-radius: 3px;
            border-bottom-right-radius: 3px;
            // border-radius: 3px;
            // padding: 5px;
            margin-bottom: 10px;
            padding: 6px 8px 8px;

            // border: 2px solid red;

            .members {
                // background-color: red;
                width: min-content;
                align-self: flex-end;
                // flex-grow: 1;

            }

            .task-title-container {
                flex-grow: 1;
                display: flex;
                align-items: flex-start;

                input {
                    width: 100%;
                    border: none;
                    font-size: 14px;
                    // font-weight: 400;
                    line-height: 20px;
                    color: #172b4d;
                    font-family: inherit;
                    padding: 0;

                    &:focus {
                        outline: none;
                    }

                }
            }


        }




        ul.quick-edit-actions {
            padding: 0;
            margin: 0;
            margin-left: 10px;
            // border: 2px solid green;


            &>li {
                // border: 2px solid green;
                margin: 10px auto;
                padding: 4px 10px;
                margin: 0;
                margin-bottom: 5px;
                border-radius: 3px;
                color: whitesmoke;
                width: max-content;
                background-color: rgba(0, 0, 0, 0.562);
                // padding-left: 10px;
                // padding-right: 10px;
                font-size: 14px;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.767);
                    margin-left: 5px;
                    transition: margin 0.2s;
                }

            }
        }

        .dark-screen {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(0, 0, 0);
            cursor: pointer;
            opacity: 0.4;
            // z-index: 50;
        }
    }
}