.members-modal {
    width: 304px;
    padding: 10px;
    position: absolute;
    top: 30%;
    left: 30%;
    background-color: whitesmoke;
    box-shadow: 0 8px 16px -4px #091e4240, 0 0 0 1px #091e4214;
    z-index: 300;
    border-radius: 3px;
    display: flex;
    flex-direction: column;

    .close-btn {
        max-width: 20px;
        position: absolute;
        right: 10px;
        top: 15px;
        cursor: pointer;
    }

    .member-search-input {
        border: 3px solid lightblue;
        padding: 10px 5px 5px 10px;
        border-radius: 3px;
        margin-bottom: 10px;
        font-size: 14px;

        &:focus {
            outline: none;
        }
    }

    &:hover {
        cursor: auto;
    }

    .members-modal-title {
        padding: 6px 0;
        color: #5e6c84;
        text-align: center;
        border-bottom: 1px solid rgba(0, 0, 0, 0.24);
        margin-bottom: 7px;
    }

    .sub-title {
        color: #172b4d;
        background-color: 'blue';
        font-size: 14px;
        line-height: 20px;
        letter-spacing: normal;
        text-align: start;
        font-size: 12px;
        font-weight: 500;
    }

    .task-details-member-preview {

        .task-member-container {
            flex-direction: column;

            .member {
                background-color: #091e420a;
                border-radius: 3px;
                padding: 4px;
                width: 100%;
                pointer-events: unset;
                align-items: center;

                .member-name {
                    color: #172b4d;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 32px;
                    margin-left: 8px;
                    flex-grow: 1;
                    pointer-events: auto;

                    &:hover {
                        cursor: pointer;
                    }
                }

                &:active {
                    background-color: #e4f0f6;
                }

                .member-icon {
                    height: 32px;
                    width: 32px;

                    .member-content {
                        height: 32px;
                        width: 32px;
                    }
                }

                .marked {
                    background-image: url('../../img/selected-member.svg');
                    background-position: center;
                    background-repeat: no-repeat;
                    height: 16px;
                    width: 16px;
                    margin: 7px;
                }
            }
        }
    }
}

@media (max-width: $mobile-breakpoint) {
    .members-modal {
        @include mobile-modal-display;
    }
}

@media (min-width: $narrow-breakpoint) {
    .members-modal {
        left: 40%;
    }
}