/* Breakpoint mixins */

@mixin for-mobile-layout {
    @media (max-width: calc($padded-break-mobile)) {
        @content;
    }
}

@mixin for-narrow-layout {
    @media (min-width: calc($padded-break-mobile)) {
        @content;
    }
}

@mixin for-normal-layout {
    @media (min-width: calc($padded-break-narrow)) {
        @content;
    }
}

@mixin for-wide-layout {
    @media (min-width: calc($padded-break-normal)) {
        @content;
    }
}

@mixin mobile-modal-display {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}