// Colors
$home-btn-clr: #0065ff;
$home-font-clr: #282e33;
$home-bg-color: #e7eced;
$header-bg-color: #c2c3c3;
$header-font-color: #172b4ddd;

$layoutPadding: 20px;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1050px;

$padded-break-mobile: $mobile-breakpoint + $layoutPadding * 2;
$padded-break-narrow: $narrow-breakpoint + $layoutPadding * 2;
$padded-break-normal: $normal-breakpoint + $layoutPadding * 2;